<div class="container-fluid">
  <div class="card ">
    <div class="card-header">
      <h1>Employee Form</h1>
    </div>
    <div class="card-body">
      <form action="" novalidate [formGroup]="employeeForm">
        <div class="form-group">
          <div class="star">
            <label for="firstName">First Name</label>
          </div>
          <input formControlName="firstName" type="text" id="firstName" class="form-control"> 
        </div>
    
        <div class="form-group">
          <label for="middleName">Middle Name</label>
          <input formControlName="middleName" type="text" id="middleName" class="form-control"> 
        </div>
    
        <div class="form-group">
          <div class="star">
            <label for="lastName">Last Name</label>
          </div>
          <input formControlName="lastName" type="text" id="lastName" class="form-control"> 
        </div>
        
        <div class="form-group">
          <div class="star">
            <label for="gender">Gender</label>
          </div>
          <div class="form-check form-check-inline">
            <input type="radio" name="gender" id="male" formControlName="gender"><label for="male">Male</label>
          </div>
          <div class="form-check form-check-inline">
            <input type="radio" name="gender" id="female" formControlName="gender"><label for="female">Female</label>
          </div>
          <div class="form-check form-check-inline">
            <input type="radio" name="gender" id="others" formControlName="gender"><label for="others">Others</label>
          </div>          
        </div>
    
        <div formGroupName="address">
          <div class="form-group">
            <div class="star">
              <label for="permanentAddress">Permanent Address</label>
            </div>
            <textarea formControlName="permanentAddress" name="permanentAddress" class="form-control" id="permanentAddress" cols="30" rows="5"></textarea>
          </div>
          <div class="form-group">
            <div>
              <label for="temporaryAddress">Temporary Address</label>
            </div>
            
            <textarea formControlName="temporaryAddress" name="temporaryAddress" class="form-control" id="temporaryAddress" cols="30" rows="5"></textarea>     
          </div>
          <div class="form-group">
            <div class="star">
              <label for="state">State</label>
            </div>
            <select formControlName="state" name="state" id="state">
              <option value="up">UP</option>
              <option value="odisha">Odisha</option>
              <option value="mp">MP</option>
              <option value="delhi">Delhi</option>
            </select>
          
          </div>
          <div class="form-group">
            <div class="star">
              <label for="country">Country</label>
            </div>
            <select formControlName="country" name="country" id="country">
              <option value="india">India</option>
              <option value="usa">USA</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="star">
            <label for="mobile">Mobile Number</label>
          </div>
          <input formControlName="mobile" type="number" name="mobile" id="mobile" class="form-control">
        </div>
        <div class="form-group">
          <div class="star">
            <label for="email">Email Id</label>
          </div>
          <input formControlName="email" type="text" id="email" class="form-control"> 
        </div>
    
        <div class="form-group">
          <div class="star">
            <label for="password">Password</label>
          </div>
          <input formControlName="password" type="password" id="password" class="form-control"> 
        </div>
        <div class="form-group">
          <div class="star">
            <label for="confirmPassword">Confirm Password</label>
          </div>
          <input formControlName="confirmPassword" type="password" id="confirmPassword" class="form-control"> 
        </div>
    
        <div class="form-group">
          <div class="star">
            <label for="captcha">Captcha</label>
          </div>
          <p>--------</p><button type="button" class="btn btn-secondary">Relode</button>
          <input type="number" name="captcha" id="captcha" class="form-control">
        </div>
        <button class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="card-footer">
      <p>@copyright---------------</p>
    </div>
  </div>
  
  
</div>